.pageContainer {
  max-width: 1000px;
  margin: 2rem auto;
  text-align: left;
  padding-top: 2rem;
  margin-bottom: 0rem;
}

.backButton {
  color: #758592;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.backButton:hover {
  color: #5c6974;
  text-decoration: underline;
}


.submitButton {
  background-color: #A32035;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.submitButton:hover {
  background-color: #862633;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1.5rem;
}

.imageUploader {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EFECE9;
  border-radius: 8px;
  height: 585px;
  color: #696969;
  background-color: #f9f9f9;
  border-color: #c6c6c6;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 200rem;
}
.imageUploader:hover {
  background-color: #f4f4f4;
  border-color: #aaa;
}

.addImageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.67rem;
}

.plusSign {
  font-size: 3em;
  font-weight: 200;
  line-height: 1;
}

.fileinput {
  display: none;
}

.imagePreview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

.formInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.input,
.textArea {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.priceAndLocation {
  display: flex;
  gap: 1rem;
}
.price {
  flex: 1;
}
.location {
  flex: 2;  
}

.textArea {
  min-height: 150px;
  resize: vertical;
  font-family: inherit;
}

label {
  color: black;
}
