.gridContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    justify-content: center;
    margin-top: 6rem;
}

/* GalleryPage.module.css */

.logout {
    position: fixed; 
    bottom: -30px;
    left: 30px;
    z-index: 1000; /* Ensures it sits on top of images */
    
    background-color: #cdcdcd; /* Red warning color */
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.logout:hover {
    background-color: #b71c1c;
    transform: scale(1.05); /* Slight grow effect on hover */
}

.logout:active {
    transform: scale(0.95);
}

.logoutImg {
    width: 2rem;
}