.siteHeader{
    background-color:#A32035;
    padding: 5px 5px;
    display: flex;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}
.siteHeader ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.siteHeader li{
    margin: 0 30px;
}

.siteHeader a{
    color: #EFECE9;
    text-decoration: none;
    font-size: 1.5rem;

}