.container {
    background-color: #A32035;
    width: 100%;
    padding: 12px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 0.67rem;
    cursor: pointer;
}

.logoImage {
    width: 7rem;
    height: 3rem;
    border-radius: 0;
}

.logoText {
    color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.SCU {
    font-size: xx-small;
}

.addListingButton {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #A32035;
    background-color: white;
    padding: 1px 16px;
    margin-left: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.addListingButton:hover {
    cursor: pointer;
    color: white;
    background-color: #862633;
    border: 1px solid white;
}

.addListingButton:active {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.plus {
    font-size: 1.5rem;
}

.welcome {
    color: white;
    font-size: 1.4rem;
}
