.cardContainer {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0.7rem;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.cardContainer:hover {
    transform: scale(1.067);
}

img {
    width: 20rem;
    aspect-ratio: 1.2 / 1;
    object-fit: cover;
    border-radius: 8px;
}

.infoContainer {
    padding: 0 0.2rem;
    font-size: 1.5rem;
}

.title {
    text-align: left;
    font-weight: 600;
    color: #A32035;
}

.priceDetails {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-end;
}

.price {
    font-weight: 500;
}

.moreDetails {
    font-size: 0.8em;
    margin-right: 0;
}

.moreDetails:hover {
    text-decoration: underline;
}