.pageContainer {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 2rem;
  text-align: left;
}

.backButton {
  color: #758592;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.backButton:hover {
  color: #5c6974;
  text-decoration: underline;
}

.buyButton {
  background-color: #A32035;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: auto 0 0 0;
  justify-self: flex-end;
}
.buyButton:hover {
  background-color: #862633;
}



.content {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;  
}

.image {
  display: flex;
  overflow: hidden;
  flex: 0 0 50%;
  max-width: 50%;
}

.listingImage {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #EFECE9;
  object-fit: cover;
}

.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  color: black;
  word-wrap: break-word;  
  overflow-wrap: break-word;
}

.listingInformation {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
  align-items: baseline;
  margin: 0.5rem 0 1rem 0;
}

.price {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.location {
  font-size: 2rem;
  color: #404040;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.lstingDesc {
  font-size: 1rem;
  color: #777;
  margin-bottom: 2rem;
  word-wrap: break-word;  
  overflow-wrap: break-word;
}



.email {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
}