.cardContainer {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0.7rem;
    transform: scale(1);
    background-color: white;
    transition: transform 0.1s ease-in-out;
}

.cardContainer:hover {
    transform: scale(1.067);
}

.cardContainer:active {
    background-color: #e0e0e0; /* Or any darker gray like #d6d6d6 */
    filter: brightness(0.8);
}

.soldButton {
    position: absolute;
    top: -50px;
    left: 230px;
    z-index: 10; 
    
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.soldButton:hover {
    background-color: #A32035; /* SCU Red on hover */
    border-color: #A32035;
}

img {
    width: 20rem;
    aspect-ratio: 1.2 / 1;
    object-fit: cover;
    border-radius: 8px;
}

.infoContainer {
    padding: 0 0.2rem;
    font-size: 1.5rem;
}

.title {
    text-align: left;
    font-weight: 600;
    color: #A32035;

    white-space: nowrap;     
    overflow: hidden;         
    text-overflow: ellipsis; 
    max-width: 19rem;
}

.priceDetails {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-end;
}

.price {
    font-weight: 500;
    color: black;
}

.moreDetails {
    font-size: 0.8em;
    margin-right: 0;
}

.moreDetails:hover {
    text-decoration: underline;
    color: #758592;
}