.card {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 3rem;
    width: 30rem;
    max-height: 500px;
    margin-top: 5rem auto;
    transition: max-height 0.8s ease;
}

.card.signup {
    max-height: 800px;
}

.content {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s ease, transform 1s ease;
}

.hidden {
    opacity: 0;
    transform: translateX(-20px);
}

.title {
    font-size: xx-large;
    margin: 2rem 0;
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
}

.field {
    padding: 0.67rem 1rem;
    margin: 0.67rem 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: medium;
}

.newUser {
    align-self: flex-end;
    padding-right: 0.2rem;
}

.link {
    cursor: pointer;
    font-weight: 700;
    color: #A32035;
}

.link:hover {
    filter: brightness(0.8);
    text-decoration: underline;
}

button {
    margin: 4rem 0;
    background-color: #A32035;
    color: white;
}

button:hover {
    background-color: #862633;
    cursor: pointer;
}