.card {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 3rem;
    width: 30rem;
    margin: 5rem auto;
    overflow: hidden;
}

.card.signup {
    max-height: 800px;
}

.title {
    font-size: xx-large;
    margin: 2rem 0;
    font-weight: 500;
    color: black;
}

.form, .expandableFields {
    display: flex;
    flex-direction: column;
}

.field {
    padding: 0.67rem 1rem;
    margin: 0.67rem 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: medium;
    font-family: inherit;
}

textarea.field {
    resize: none;
}

.newUser {
    align-self: flex-end;
    padding-right: 0.2rem;
    color: black;
}

.link {
    cursor: pointer;
    font-weight: 700;
    color: #A32035;
}

.link:hover {
    filter: brightness(0.8);
    text-decoration: underline;
}

button {
    margin: 4rem 0;
    background-color: #A32035;
    color: white;
}

button:hover {
    background-color: #862633;
    cursor: pointer;
}

.expandableFields {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out, margin 0.6s ease;
}

.expandableFields.show {
    max-height: 200px; /* 200px for best looking transition */
    opacity: 1;
}